<style>
.center {
  padding: 70px 0;
  border: 3px solid green;
  text-align: center;
}
</style>

<h1 class="center"><i class="fas fa-paw"></i> Welcome to the Dog Coop! <i class="fas fa-paw"></i> </h1>
